[Desktop Entry]
Name=Jammy KDE Blank
X-KDE-PluginInfo-Name=Jammy-Kde-blank
X-KDE-PluginInfo-Author=kuroehanako
X-KDE-PluginInfo-Email=kmj10727@gmail.com
X-KDE-PluginInfo-License=GPLv3
