[Desktop Entry]
Name=Jammy KDE
X-KDE-PluginInfo-Name=Jammy-KDE
X-KDE-PluginInfo-Author=kuroehanako
X-KDE-PluginInfo-Email=kmj10727@gmail.com
X-KDE-PluginInfo-License=GPLv3
